pyspark==3.5.4
PyMuPDF==1.25.3
spacy==3.8.4
fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.20
slowapi==0.1.9
structlog==24.4.0
pydantic==2.10.4
pydantic-settings==2.7.1
prometheus-fastapi-instrumentator==7.0.2
httpx==0.28.1
